body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("../images/Eastern_Sangre_de_Cristo_14ers.jpg") no-repeat
    center center fixed;
  background-size: cover;
}
.form-control {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 40px;
  transition: all 0.3s ease 0s;
}

.login-wrap {
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

.field-icon {
  position: absolute;
  top: 46%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.9);
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
